.container {
    padding: 0;
    color: #2f4156;
}

.content {
    padding: 0 1rem;
}

h2 {
    color: #2f4156;
    margin: 2rem 0;
  }

  .data-box {
    display: flex;
    flex-direction: column; /* A tartalmat oszlopba rendezi */
    padding: 6px 10px;
    background: #f5efeb;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(47, 65, 86, 0.2);
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
  }

  .btn{
    width: 25%;
    margin-left: 75%;
    margin-bottom: 0.25rem;
    background-color: #567c8d;
    color: #f5efeb;
    border: 1px solid #567c8d;
    border-radius: 5px;
    padding: 0.5rem 0;
    cursor: pointer;
}

.new-file {
  background-color: #f5efeb;
  border-left: 5px solid #2f4156;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.new-file-sign {
  font-weight: bold;
  margin-bottom: 0.5rem;

}