<div class="container">

    <div class="modal-header">
        <div class="text-center mt-2">
            <h2>Lakó hozzáadása</h2>
        </div>
        <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closeModal()"></button>
    </div>

    <ng-container *ngIf="!errorMessage; else error"></ng-container>

    <ng-template #error>
        <div class="alert alert-danger text-center mt-2" role="alert">
            {{ errorMessage }}
          </div>
      </ng-template>

      <div class="mt-4 m-2 addSection">

        <div class="row input-field mb-2">
            <div class="col-3">
                <label for="name" class="form-label mt-2">Név:</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
            </div>
        </div>

        <div class="row input-field mb-2">
            <div class="col-3">
                <label for="email" class="form-label mt-2">Email cím:</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
            </div>
        </div>

        <div class="row input-field mb-2">
            <div class="col-3">
                <label for="phone" class="form-label mt-2">Telefonszám:</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="phone">
            </div>
        </div>

        <div class="input-field mb-2">
           <div class="row">
            <div class="col-3">
                <label class="form-label mt-2">Épület:</label>
            </div>
            <div class="col-9">

                <input 
                    type="text" 
                    id="newBuilding" 
                    class="new-data-input me-2"
                    placeholder="új" 
                    [(ngModel)]="newBuilding">

                <label 
                *ngFor="let buildingOption of buildingOptions" 
                class="form-check-label radio-label" 
                [ngClass]="{'checked-label': building === buildingOption.value}">
                <input 
                    type="radio" 
                    name="building" 
                    [id]="'building' + buildingOption.value" 
                    class="form-check-input visually-hidden" 
                    [value]="buildingOption.value" 
                    [(ngModel)]="building">
                {{ buildingOption.typeOfBuildings }}
                </label>
            </div>
            </div>
        </div>

        <div class="input-field mb-2">
            <div class="row">
             <div class="col-3">
                 <label class="form-label mt-2">Emelet:</label>
             </div>
             <div class="col-9">

                <input 
                    type="text" 
                    id="newFloor" 
                    class="new-data-input me-2"
                    placeholder="új" 
                    [(ngModel)]="newFloor">

                 <label 
                 *ngFor="let floorOption of floorOptions" 
                 class="form-check-label radio-label" 
                 [ngClass]="{'checked-label': floor === floorOption.value}">
                 <input 
                     type="radio" 
                     name="floor" 
                     [id]="'floor' + floorOption.value" 
                     class="form-check-input visually-hidden" 
                     [value]="floorOption.value" 
                     [(ngModel)]="floor">
                 {{ floorOption.typeOfFloors }}
                 </label>
             </div>
             </div>
         </div>

         <div class="input-field mb-2">
            <div class="row">
             <div class="col-3">
                 <label class="form-label mt-2">Ajtó:</label>
             </div>
             <div class="col-9">

                <input 
                    type="text" 
                    id="newDoor" 
                    class="new-data-input me-2"
                    placeholder="új" 
                    [(ngModel)]="newDoor">

                 <label 
                 *ngFor="let doorOption of doorOptions" 
                 class="form-check-label radio-label" 
                 [ngClass]="{'checked-label': door === doorOption.value}">
                 <input 
                     type="radio" 
                     name="door" 
                     [id]="'door' + doorOption.value" 
                     class="form-check-input visually-hidden" 
                     [value]="doorOption.value" 
                     [(ngModel)]="door">
                 {{ doorOption.typeOfDoors }}
                 </label>
             </div>
             </div>
         </div>


            
            

      </div>

      <div class="row footer mt-4 mb-2">
        <div class="col-6 d-flex justify-content-start">
            <button class="btn btn-secondary" (click)="closeModal()">
                Mentés
            </button>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="onSave()">
                Mégse
            </button>
        </div>
      </div>

</div>
  