<div class="menu-container" [class.hidden]="isHidden">
  <div class="container mt-2">
    <div class="menu-items">
      <!-- Bal szélső menüpont -->
      <a href="user/home" class="menu-item">
        <span class="d-none d-md-inline">Főoldal</span>
        <div class="icon-wrapper d-inline d-md-none">
          <img src="assets/icons/home.png" alt="főoldal">
          <span *ngIf="hasNewBulletin" class="notification-dot"></span>
        </div>
        <span *ngIf="hasNewBulletin" class="notification-dot-for-text d-none d-md-inline"></span>
      </a>

      <!-- Középső menüpontok -->
      <a href="user/record" class="menu-item d-flex flex-column align-items-center">
        <span class="d-none d-md-inline">Diktálás</span>
        <div class="icon-wrapper d-inline d-md-none">
          <img src="assets/icons/meter.png" alt="diktálás">
          <span *ngIf="hasNewRecord" class="notification-dot"></span>
        </div>
        <span *ngIf="hasNewRecord" class="notification-dot-for-text d-none d-md-inline"></span>
      </a>

      <a href="user/datas" class="menu-item d-flex flex-column align-items-center">
        <span class="d-none d-md-inline">Adatok</span>
        <div class="icon-wrapper d-inline d-md-none">
          <img src="assets/icons/datas.png" alt="adatok">
          <span *ngIf="hasNewDatas" class="notification-dot"></span>
        </div>
        <span *ngIf="hasNewDatas" class="notification-dot-for-text d-none d-md-inline"></span>
      </a>

      <!-- Jobb szélső menüpont -->
      <a href="user/profile" class="menu-item">
        <span class="d-none d-md-inline">Profilom</span>
        <div class="icon-wrapper d-inline d-md-none">
          <img src="assets/icons/profile.png" alt="profilom">
        </div>
      </a>
    </div>
  </div>
</div>
