<div class="menu-container" [class.hidden]="isHidden">
  <div class="container mt-2">
    <div class="row">
      <div class="col">
        <a href="user/home">
        <span class="d-none d-md-inline">Főoldal</span>
        <img src="assets/icons/home.png" class="d-inline d-md-none" alt="homepage">
      </a>
      </div>
      <div class="col text-center">
        <a href="user/record">
        <span class="d-none d-md-inline">Diktálás</span>
        <img src="assets/icons/meter.png" class="d-inline d-md-none" alt="homepage">
        </a>
      </div>
      <div class="col text-center">
        <a href="user/datas">
        <span class="d-none d-md-inline">Adatok</span>
        <img src="assets/icons/datas.png" class="d-inline d-md-none" alt="homepage">
        </a>
      </div>
      <div class="col text-end">
        <a href="user/profile">
        <span class="d-none d-md-inline">Profilom</span>
        <img src="assets/icons/profile.png" class="d-inline d-md-none" alt="homepage">
        </a>
      </div>
      <!-- <div class="col cursor-pointer">
        <span class="d-none d-md-inline" (click)="logout()">Kijelentkezés</span>
        <i class="fa-solid fa-right-from-bracket fa-xl d-inline d-md-none"></i>
      </div> -->
    </div>
  </div>
</div>
