.menu-container {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  background: #f5efeb;
  color: #2f4156;
  border-bottom: #2f4156 solid 2px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  z-index: 1000;
}

.menu-container.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

span {
  font-size: 1.5rem;
}

img {
  width: 4rem;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.notification-dot {
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.notification-dot-for-text {
  position: absolute;
  top: 0.5rem;
  right: -0.75rem;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
