<div class="menu-container" [class.hidden]="isHidden">
  <div class="container mt-2">
    <div class="row text-center">
      <div class="col">
        <a href="user/home">
        <span class="d-none d-md-inline">Főoldal</span>
        <i class="fa-solid fa-house fa-xl d-inline d-md-none"></i>
        </a>
      </div>
      <div class="col">
        <a href="user/record">
        <span class="d-none d-md-inline">Diktálás</span>
        <i class="fa-solid fa-faucet-drip fa-xl d-inline d-md-none"></i>
        </a>
      </div>
      <div class="col">
        <a href="user/datas">
        <span class="d-none d-md-inline">Adatok</span>
        <i class="fa-solid fa-table fa-xl d-inline d-md-none"></i>
        </a>
      </div>
      <div class="col">
        <a href="user/profile">
        <span class="d-none d-md-inline">Profilom</span>
        <i class="fa-solid fa-user fa-xl d-inline d-md-none"></i>
        </a>
      </div>
      <div class="col cursor-pointer">
        <span class="d-none d-md-inline" (click)="logout()">Kijelentkezés</span>
        <i class="fa-solid fa-right-from-bracket fa-xl d-inline d-md-none"></i>
      </div>
    </div>
  </div>
</div>
