<app-menu></app-menu>

<div class="container mb-4">

  <div class="new-resident mt-2 mb-4">
    <h2 class="mb-4 d-inline">Óraállások</h2>
    <span class="ms-4">{{ monthAndYear }}</span>
    <button class="btn btn-primary float-end" (click)="closeMeters()">Számolás</button>
  </div>
    

    <app-message></app-message>

    <div class="row row-cols-auto justify-content-between">

        <div class="col h-100 header-items">
            <ngb-pagination [collectionSize]="filteredUsers.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="false" [ellipses]="true" [boundaryLinks]="false">
            </ngb-pagination>
          </div>
        
          <div class="col h-100 header-items mb-2">
              <span>Lakó/oldal:</span>
              <select class="form-select-sm ms-2" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="75">75</option>
                  <option value="100">100</option>
              </select>
          </div>
        
          <div class="col h-100 header-items mb-2">
            <div class="col h-100 header-items justify-content-end">
              <input type="text" class="search-input ps-2 rounded" placeholder="keresés..." [(ngModel)]="searchTerm" (input)="filterUsers()">
            </div>
          </div>
        
        </div>

        <div *ngIf="filteredUsers && filteredUsers.length > 0; else noData">

          <div class="">
              <div class="header row cursor-pointer bg-secondary text-white p-2 mb-3">
                <div class="col">
                  Rendezés:
                  <span (click)="sortUsers('username')"
                  [ngClass]="{'sorted-column': sortedColumn === 'username'}">
                    név
                  </span>
                    |
                  <span (click)="sortUsers('typeOfBuildings')" 
                    [ngClass]="{'sorted-column': sortedColumn === 'typeOfBuildings'}" 
                    class="">
                     lakás
                  </span>
                </div>

                <div class="col text-center">
                  <span class="info-icon" (click)="getMetersDetailsDescription()">info</span>
                </div>

                <div class="col">            
                  <div class="form-check form-switch">
                    <input class="form-check-input float-end"
                     type="checkbox" 
                     role="switch" 
                     id="flexSwitchCheckDefault"  
                     (click)="justEmptyFields()">
                      <div class="form-check-label float-end me-5" for="flexSwitchCheckDefault"
                      [ngClass]="{'sorted-column': filterEmptyFields}">Pótolandók</div>
                  </div>
                </div>
              </div>

              <div class="user-list row" *ngFor="let user of filteredUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <div class="col-12 col-lg-2 col-md-6 mb-3">
                    <b>{{ user.username }}</b><br>
                    <span *ngIf="user.typeOfBuildings && user.typeOfFloors && user.typeOfDoors">
                        {{ user.typeOfBuildings }}/{{ user.typeOfFloors }}/{{ user.typeOfDoors }}
                    </span>
                </div>

                <div class="col-12 col-md-6 col-lg text-center mb-3 mb-lg-0" *ngIf="user.isMeters && (meterData.cold1 === '1' || (getSerialNumberPlaceholder(user, 'cold1')) && meterData.severally)">
                    Hideg1:
                    <input
                        class="w-100 text-center border border-primary-subtle bg-primary-subtle"
                        type="number"
                        name="cold1"
                        [(ngModel)]="user.cold1"
                        (ngModelChange)="validatePositiveNumber(user, 'cold1')"
                        min="0"
                        step="1"
                        [placeholder]="getSerialNumberPlaceholder(user, 'cold1')"
                    >
                </div>


                <div class="col-12 col-md-6 col-lg text-center mb-3 mb-lg-0" *ngIf="user.isMeters && (meterData.cold2 === '1' || (getSerialNumberPlaceholder(user, 'cold2')) && meterData.severally)">Hideg2:
                    <input
                        class="w-100 text-center border border-primary-subtle bg-primary-subtle"
                        type="number"
                        name="cold2"
                        [(ngModel)]="user.cold2"
                        (ngModelChange)="validatePositiveNumber(user, 'cold2')"
                        min="0"
                        step="1"
                        [placeholder]="getSerialNumberPlaceholder(user, 'cold2')"
                    >
                </div>

                <div class="col-12 col-md-6 col-lg text-center mb-3 mb-lg-0" *ngIf="user.isMeters && (meterData.hot1 === '1' || (getSerialNumberPlaceholder(user, 'hot1')) && meterData.severally)">Meleg1:
                    <input
                        class="w-100 text-center border border-danger-subtle bg-danger-subtle"
                        type="number"
                        name="hot1"
                        [(ngModel)]="user.hot1"
                        (ngModelChange)="validatePositiveNumber(user, 'hot1')"
                        min="0"
                        step="1"
                        [placeholder]="getSerialNumberPlaceholder(user, 'hot1')"
                    >
                </div>

                <div class="col-12 col-md-6 col-lg text-center mb-3 mb-lg-0" *ngIf="user.isMeters && (meterData.hot2 === '1' || (getSerialNumberPlaceholder(user, 'hot2')) && meterData.severally)">Meleg2:
                    <input
                        class="w-100 text-center border border-danger-subtle bg-danger-subtle"
                        type="number"
                        name="hot2"
                        [(ngModel)]="user.hot2"
                        (ngModelChange)="validatePositiveNumber(user, 'hot2')"
                        min="0"
                        step="1"
                        [placeholder]="getSerialNumberPlaceholder(user, 'hot2')"
                    >
                </div>

                <div class="col-12 col-md-6 col-lg text-center mb-3 mb-lg-0" *ngIf="user.isMeters && (meterData.heating === '1' || (getSerialNumberPlaceholder(user, 'heating')) && meterData.severally)">Fűtés:
                    <input
                        class="w-100 text-center border border-warning-subtle bg-warning-subtle"
                        type="number"
                        name="heating"
                        [(ngModel)]="user.heating"
                        (ngModelChange)="validatePositiveNumber(user, 'heating')"
                        min="0"
                        step="1"
                        [placeholder]="getSerialNumberPlaceholder(user, 'heating')"
                    >
                </div>

                <div *ngIf="!user.isMeters" class="col-12 text-center text-danger mb-3 mb-lg-0">Nincs vízóra.</div>

                <div class="col-12 col-md-auto text-center mt-4 mb-2 float-end">
                    <button class="btn btn-sm btn-primary float-end ms-2 mb-2" (click)="saveMetersById(user)">Mentés</button>

                    <button
                        class="btn btn-sm btn-secondary float-end"
                        (click)="getPreviousDatasById(user.userId, user.username, true).subscribe()"
                        [disabled]="!user.isMeters">
                        Előző
                    </button>
                </div>


                <hr class="col-12">
            </div>


        </div>

    </div>


    <ng-template #noData>
        <p>Nincs megjeleníthető adat.</p>
    </ng-template>


</div>