.container {
    padding: 0;
    color: #2f4156;
}

.content {
    padding: 0 1rem;
}

.create-at {
    margin-bottom: 0rem;
    font-size: 0.8rem;
    font-weight: bold;

}

.create-at span {
    font-weight: normal;
 
}

.new-bb-sign {
 
    font-weight: bold;
}
.new-bulletin {
    border-left: 5px solid #2f4156;
  }
  
  .bb-content{
    background-color: #f5efeb;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(47, 65, 86, 0.2);
  }

  h2 {
    color: #2f4156;
    margin: 2rem 0;
  }