.container {
    padding: 0;
    color: #2f4156;
}

.content {
    padding: 0 1rem;
}

.create-at {
    margin-bottom: 0rem;
    font-size: 0.8rem;
    font-weight: bold;

}

.create-at span {
    font-weight: normal;
}

.new-bb-sign {
    font-size: 0.8rem;
    font-weight: bold;
}
.new-bulletin {
    border-left: 5px solid #2f4156;
  }
  
  .bb-content{
    background-color: #f5efeb;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(47, 65, 86, 0.2);
  }

  h2 {
    color: #2f4156;
    margin: 2rem 0;
  }

  .fixed-bulletin {
    position: relative;
    border-radius: 6px;
}

.fixed-bulletin::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #2f4156;
    border-top-right-radius: 6px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}