.container {
    padding: 0;
}

.content {
    padding: 0 1rem;
}

.create-at {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #2f4156;
}

.create-at span {
    font-weight: normal;
    color: #2f4156;
}

.new-bb-sign {
    color: #2f4156;
    font-weight: bold;
}
.new-bulletin {
    background-color: #f5efeb;
    border-left: 5px solid #2f4156;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  