.container {
    padding: 0;
}

.content {
    color: #2f4156;
    padding: 0 1rem;
}

.info-box {
    background-color: #2f4156;
    color: #f5efeb;
    border-left: 10px solid #567c8d;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

h2 {
    color: #2f4156;
    margin: 1rem 0 2rem 0;
  }
  
.green {
    border-left: 10px solid green;
}

.red {
    border-left: 10px solid red;
}

.cold {
    border: 1px solid #2980b9;
    border-left: 10px solid #2980b9;
    border-radius: 5px;
}

.hot {
    border: 1px solid #c0392b;
    border-left: 10px solid #c0392b;
    border-radius: 5px;
}

.heating {
    border: 1px solid #873600;
    border-left: 10px solid #873600;
    border-radius: 5px;
}

input {
    font-size: 1.25rem;
    font-weight: bold;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: green !important;
    border: 1px solid green !important;
    border-left: 10px solid green !important;
    box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.1) !important;
  }

  
label {
    font-size: 0.75rem;
    font-weight: bold;
}

.btn{
    width: 100%;
    background-color: #2f4156;
    color: #f5efeb;
    border: 1px solid #2f4156;
    border-radius: 5px;
    padding: 0.5rem 0;
    cursor: pointer;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
  }

  td:first-child {
    text-align: center;
  }

  td {
    text-align: right;
  }

  th {
    background-color: #f5efeb;
    text-align: center;
  } */
  .table-container {
    width: 100%;
    overflow-x: auto; /* Görgethető táblázat kis kijelzőn */
  }
  
  .custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px; /* Cellák közötti tér */
  }
  
  .custom-table th {
    background: #f5efeb;
    color: #2f4156;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
  }
  
  .custom-table td {
    background: #fff;
    padding: 6px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .custom-table td:hover {
    transform: scale(1.05);
  }
  
  


