.container {
    padding: 0;
}

.content {
    color: #2f4156;
    padding: 0 1rem;
}

.info-box {
    background-color: #f5efeb;
    border-left: 10px solid #567c8d;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

h2 {
    color: #2f4156;
    margin: 1rem 0 2rem 0;
  }
  

.cold, .hot, .heating {
    border: 1px solid #567c8d;
    border-radius: 5px;
}

input {
    font-size: 1.25rem;
    font-weight: bold;
}
  
label {
    font-size: 0.75rem;
    font-weight: bold;
}

.btn{
    width: 25%;
    margin-left: 75%;
    background-color: #567c8d;
    color: #f5efeb;
    border: 1px solid #567c8d;
    border-radius: 5px;
    padding: 0.5rem 0;
    cursor: pointer;
}

  .table-container {
    width: 100%;
    overflow-x: auto; /* Görgethető táblázat kis kijelzőn */
  }
  
  .custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px; /* Cellák közötti tér */
  }
  
  .custom-table th {
    background: #f5efeb;
    color: #2f4156;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
  }
  
  .custom-table td {
    background: #fff;
    padding: 6px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .custom-table td:hover {
    transform: scale(1.05);
  }
  
  


