

.user-list:nth-child(2n) {
    background-color: #ccc;
}

.user-list:hover {
    background-color: #666;
    color: #ddd;
}

.info-icon {
    font-size: 1rem;
    font-weight: bold;
    color: #ffc107;
    cursor: pointer;
}
  

