<app-menu></app-menu>

<div class="container mb-4">

    <h2 class="mb-4">Lakók</h2>

    <app-message></app-message>

<div class="new-resident mt-2 mb-4">
    <button class="btn btn-primary" (click)="addAndEditResident(undefined)">Új lakó felvétele</button>
</div>

<div class="row row-cols-auto justify-content-between">

<div class="col h-100 header-items">
    <ngb-pagination [collectionSize]="filteredUsers.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="false" [ellipses]="true" [boundaryLinks]="false">
    </ngb-pagination>
  </div>

  <div class="col h-100 header-items">
      <span>Lakó/oldal:</span>
      <select class="form-select-sm ms-2" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
      </select>
  </div>

  <div class="col h-100 header-items">
    <div class="col h-100 header-items justify-content-end">
      <input type="text" class="search-input ps-2" placeholder="keresés..." [(ngModel)]="searchTerm" (input)="filterUsers()">
    </div>
  </div>

</div>


<div class="resident-list mt-4">
  <div *ngIf="filteredUsers && filteredUsers.length > 0; else noData">

    <div class="">
        <div class="header row cursor-pointer bg-secondary text-white p-2 mb-3">
          <div class="col">
            Rendezés:
            <span (click)="sortUsers('username')"
            [ngClass]="{'sorted-column': sortedColumn === 'username'}">
              név
            </span>
              |
            <span (click)="sortUsers('typeOfBuildings')" 
              [ngClass]="{'sorted-column': sortedColumn === 'typeOfBuildings'}" 
              class="">
               lakás
            </span>
          </div>
        </div>

        <div class="user-list row cursor-pointer pt-1 pb-1" 
        *ngFor="let user of filteredUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
        (click)="editResident(user.userId)">
     <div class="col-12 col-md-4">
       <b>{{ user.username }}</b>         
     </div>
     
     <div class="col-12 col-md-4">
       {{ user.email}}
     </div>
   
     <div *ngIf="user.typeOfBuildings" class="col-1 col-md-1 text-end">
      {{ user.typeOfBuildings }}.ép
    </div>
    
    <div *ngIf="user.typeOfFloors" class="col-1 col-md-1 text-end">
      {{ user.typeOfFloors }}.em
    </div>
    
    <div *ngIf="user.typeOfDoors" class="col-1 col-md-1 text-end">
      {{ user.typeOfDoors }}.a
    </div>
    
   

   </div>


        </div>
        
      </div>
  
      </div>
  <!-- <div *ngIf="filteredUsers && filteredUsers.length > 0; else noData">
    <table class="table  table-hover table-success table-striped">
      <thead>
        <tr>
          <th (click)="sortUsers('username')" 
              [ngClass]="{'sorted-column': sortedColumn === 'username'}"
              class="cursor-pointer">Lakó neve
            <i [ngClass]="{'sorted-column': sortedColumn === 'username'}" 
               class="fa-solid fa-arrow-down fa-xs ms-2">
              </i>
          </th>
          <th>Email</th>
          <th (click)="sortUsers('typeOfBuildings')" 
          [ngClass]="{'sorted-column': sortedColumn === 'typeOfBuildings'}" 
              class="cursor-pointer text-end">Épület
            <i 
              [ngClass]="{'sorted-column': sortedColumn === 'typeOfBuildings'}" 
              class="fa-solid fa-arrow-down fa-xs ms-2">
            </i>
          </th>
          <th class="text-end">Emelet</th>
          <th class="text-end">Ajtó</th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" *ngFor="let filteredUser of filteredUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
        (click)="editResident(filteredUser.userId)">
          <td>{{ filteredUser.username }}</td>
          <td>{{ filteredUser.email }}</td>
          <td class="text-end">{{ filteredUser.typeOfBuildings }}</td>
          <td class="text-end">{{ filteredUser.typeOfFloors }}</td>
          <td class="text-end">{{ filteredUser.typeOfDoors }}</td> 
        </tr>
      </tbody>
    </table>
  </div> -->
  <ng-template #noData>
    <p>Nincs megjeleníthető adat.</p>
  </ng-template>
  

</div>


