<app-menu></app-menu>

<div class="container mb-4">
  <div class="new-resident mb-4">
    <h2 class="d-inline">Lakók</h2>

    <button class="btn btn-primary float-end" (click)="addAndEditResident(undefined)">Új lakó felvétele</button>
</div>

<app-message></app-message>

<div class="row row-cols-auto justify-content-between">

<div class="col h-100 header-items">
    <ngb-pagination [collectionSize]="filteredUsers.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="false" [ellipses]="true" [boundaryLinks]="false">
    </ngb-pagination>
  </div>

  <div class="col h-100 header-items mb-2">
      <span>Lakó/oldal:</span>
      <select class="form-select-sm ms-2" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
      </select>
  </div>

  <div class="col h-100 header-items mb-2"> 
    <div class="col h-100 header-items justify-content-end">
      <input type="text" class="search-input ps-2 rounded" placeholder="keresés..." [(ngModel)]="searchTerm" (input)="filterUsers()">
    </div>
  </div>

</div>


<div class="">
  <div *ngIf="filteredUsers && filteredUsers.length > 0; else noData">

    <div class="">
        <div class="header row cursor-pointer bg-secondary text-white p-2 mb-3">
          <div class="col">
            Rendezés:
            <span (click)="sortUsers('username')"
            [ngClass]="{'sorted-column': sortedColumn === 'username'}">
              név
            </span>
              |
            <span (click)="sortUsers('typeOfBuildings')" 
              [ngClass]="{'sorted-column': sortedColumn === 'typeOfBuildings'}" 
              class="">
               lakás
            </span>
          </div>
          <div class="col text-end">
            <span class="info-icon" (click)="getResidentDetailsDescription()">info</span>
          </div>
        </div>

        

        <div class="user-list row cursor-pointer pt-1 pb-1" 
        *ngFor="let user of filteredUsers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
        (click)="editResident(user.userId)">
     <div class="col-12 col-md-4">
       <b>{{ user.username }}</b>         
     </div>
     
     <div class="col-12 col-md-4">
       {{ user.email}}
     </div>
   
     <div *ngIf="user.typeOfBuildings" class="col-1 col-md-1 text-end">
      {{ user.typeOfBuildings }}.ép
    </div>
    
    <div *ngIf="user.typeOfFloors" class="col-1 col-md-1 text-end">
      {{ user.typeOfFloors }}.em
    </div>
    
    <div *ngIf="user.typeOfDoors" class="col-1 col-md-1 text-end">
      {{ user.typeOfDoors }}.a
    </div>
    
   

   </div>


        </div>
        
      </div>
  
      </div>
 
  <ng-template #noData>
    <p>Nincs megjeleníthető adat.</p>
  </ng-template>
  

</div>


