<app-menu></app-menu>

<div class="container">

    <h2 class="mt-4 mb-4">Beállítások</h2>

    <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="text-bg-light mb-4">
                <h6 class="mb-3 p-2 text-bg-secondary">Diktálási időszak</h6>
                    <app-recdates></app-recdates>
                </div>
            </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="text-bg-light mb-4">
                <h6 class="mb-3 p-2 text-bg-secondary">Diktálási időszak</h6>
                <div class="p-2">
                    <p>diktálási időszak kezdete:</p>
                </div>
            </div>  
        </div>        
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="text-bg-light mb-4">
                <h6 class="mb-3 p-2 text-bg-secondary">Diktálási időszak</h6>
                <div class="p-2">
                    <p>diktálási időszak kezdete:</p>
                </div>
            </div>  
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="text-bg-light mb-4">
                <h6 class="mb-3 p-2 text-bg-secondary">Diktálási időszak</h6>
                <div class="p-2">
                    <p>diktálási időszak kezdete:</p>
                </div>
            </div>  
        </div>        
    </div>

</div>