<app-menu></app-menu>

<div class="container mb-4">
    <h2 class="ms-3">Beállítások</h2>
    <app-message></app-message>

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="p-0 bg-white d-flex flex-column">
                    <p class="p-2 ps-3 bg-secondary text-white">Költségek
                        <span class="info-icon float-end" (click)="getCostsDescription()">info</span>
                    </p>
                    <div class="flex-grow-1 d-flex">
                        <app-costs class="w-100"></app-costs>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="p-0 bg-white d-flex flex-column">
                    <p class="p-2 ps-3 bg-secondary text-white">Mérőórák
                    <span class="info-icon float-end" (click)="getMetersDescription()">info</span>
                     </p>
                    <div class="flex-grow-1 d-flex">
                        <app-meters class="w-100"></app-meters>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="p-0 bg-white d-flex flex-column">
                    <p class="p-2 ps-3 bg-secondary text-white">Diktálási időszak
                    <span class="info-icon float-end" (click)="getRecDatesDescription()">info</span>
                        </p>
                    <div class="flex-grow-1 d-flex">
                        <app-recdates class="w-100"></app-recdates>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <div class="p-0 bg-white d-flex flex-column">
                    <p class="p-2 ps-3 bg-secondary text-white">Adatok
                    <span class="info-icon float-end" (click)="getDatasDescription()">info</span>
                </p>
                    <div class="flex-grow-1 d-flex">
                        <app-datas class="w-100"></app-datas>
                    </div>
                </div>
            </div>
        </div>
    </div>

