<app-menu></app-menu>

<div class="container">

    <h2 class="mt-4 mb-4">Beállítások</h2>

    <ng-container *ngIf="!messageService.message && !messageService.errorMessage; else showMessage">
    </ng-container>
    
    <ng-template #showMessage>
      <div class="alert text-center fixed-top" [ngClass]="{'alert-success': messageService.message, 'alert-danger': messageService.errorMessage}" role="alert">
        {{ messageService.message || messageService.errorMessage }}
      </div>

    </ng-template>

    <div class="row align-items-stretch mb-4">
        
            <div class="col-lg-6 col-md-12 col-sm-12">
                <app-infosection title="Diktálási időszak">
  
                    <div class="card h-100 p-2" defaultContent>
                        <app-recdates></app-recdates>
                    </div>
                    <div class="card h-100 p-2" infoContent>
                        <p [innerHTML]="getRecDatesDescription()"></p>
                    </div>
                </app-infosection>
            </div> 

            <div class="col-lg-6 col-md-12 col-sm-12">
                <app-infosection title="Mérőórák">
  
                    <div class="card h-100 p-2" defaultContent>
                        <app-meters></app-meters>
                    </div>
                    <div class="card h-100 p-2" infoContent>
                        <p [innerHTML]="getMetersDescription()"></p>
                    </div>
                </app-infosection>
            </div> 
    </div>
    <div class="row align-items-stretch">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <app-infosection title="Költségek">

                <div class="card h-100 p-2" defaultContent>
                    <app-costs></app-costs>
                </div>
                <div class="card h-100 p-2" infoContent>
                    <p [innerHTML]="getCostsDescription()"></p>
                </div>
            </app-infosection>
        </div> 

</div>
</div>