

<div class="settings-box h-100 p-3">
    <p>A társasház adatai:</p>

    <div class="form-inline mb-3" *ngFor="let data of condoDatas">
        <input class="title-input" type="text" name="title" [(ngModel)]="data.title" [readonly]="!data.isEditable">
        <input class="data-input" type="text" name="data" [(ngModel)]="data.data">
    </div>

    <div class="form-inline mb-3">
        <input class="title-input" type="text" name="newtitle" [(ngModel)]="newTitle">
        <input class="data-input" type="text" name="newData" [(ngModel)]="newData">
    </div>

<button class="btn btn-primary btn-sm float-end mb-3" (click)="saveDatas()">Mentés</button>

</div>
