<div class="container">
    <app-menu></app-menu>
    <br>
    <app-message></app-message>


        <div class="content mt-4">
            <div class="d-flex justify-content-between align-items-center">
            <h2>Profilom</h2>
            <button class="btn btn-sm logout" (click)="logout()">Kijelenkezés</button>
            </div>
            <hr>
         <h5>Személyes adatok:</h5>
     
        <div class="row">

         <div class="col-12 col-md-6">
      
         <div class="data-box">
            <strong>Név*: </strong> 
            <span *ngIf="editingField !== 'username'" (click)="startEditing('username')" class="editable text-end">
              {{ residentData.username }}
            </span>
            <input *ngIf="editingField === 'username'" 
                   [(ngModel)]="residentData.username" 
                   (keyup.enter)="stopEditing()"
                   class="form-control edit-input text-end">
          </div>
          
          
        </div>
         <div class="col-12 col-md-6">
            <div class="data-box">
            <strong>Lakás: </strong> 
            <span class="text-end">
                {{ residentData.building }} épület
                {{ residentData.floor }}. emelet
                {{ residentData.door }}. ajtó</span>
         </div>
        </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">

                <div class="data-box">
                    <strong>Telefonszám*: </strong>
                    
                    <!-- Kattintásra a szerkesztés megjelenítése -->
                    <span *ngIf="editingField !== 'phone'" (click)="startEditing('phone')" class="editable text-end">
                      +36 {{ residentData.phoneAreaNum }} {{ residentData.phoneNum }}
                    </span>
                    
                    <div *ngIf="editingField === 'phone'" class="phone-input-container">
                      <span>+36</span>
                      
                      <!-- Körzetszám input mező -->
                      <input [(ngModel)]="residentData.phoneAreaNum"
                             class="form-control edit-input text-end phone-area"
                             (blur)="validatePhoneAreaNum()"
                             (ngModelChange)="validatePhoneAreaNum()"
                             [class.is-invalid]="phoneAreaError">
                      
                      <!-- Telefonszám input mező -->
                      <input [(ngModel)]="residentData.phoneNum"
                             (input)="onPhoneInput($event)"
                             (ngModelChange)="validatePhoneNum()"
                             (blur)="validatePhoneNum()"
                             class="form-control edit-input text-end phone-num"
                             maxlength="7"
                             [class.is-invalid]="phoneNumError">
                    </div>
                  
                    <!-- Hibaüzenetek -->
                    <div *ngIf="phoneAreaError" class="invalid-feedback text-end">
                      Kérlek, add meg a megfelelő körzetszámot!
                    </div>
                    
                    <div *ngIf="phoneNumError" class="invalid-feedback text-end">
                      Kérlek, add meg a megfelelő telefonszámot!
                    </div>
                  </div>
                  
                  
                  
                  
                  
                  
                         
        </div>
        <div class="col-12 col-md-6">    
            <div class="data-box">
                <strong>Email cím*: </strong>
                
                <!-- Megjelenő szöveg kattintható szerkesztéshez -->
                <span *ngIf="editingField !== 'email'" (click)="startEditing('email')" class="editable text-end">
                  {{ residentData.email }}
                </span>
              
                <!-- Input mező szerkesztés közben -->
                <input *ngIf="editingField === 'email'" 
                       #emailInput
                       [(ngModel)]="residentData.email" 
                       (keyup.enter)="stopEditing()" 
                       (ngModelChange)="validateEmail()" 
                       (blur)="validateEmailOnBlur(emailInput)" 
                       class="form-control edit-input text-end"
                       [class.is-invalid]="!isValidEmail">
              
                <!-- Hibaüzenet -->
                <div *ngIf="!isValidEmail && editingField === 'email'" class="invalid-feedback text-end">
                  Érvénytelen email cím!
                </div>
              </div>
              
              
              
              
        </div>
        <span class="text-muted">* Az adatok módosításához kattints az adott mezőre.</span>
    </div>

    <hr>
    <div  *ngIf="residentData.isMeter">
        <h5>Mérőórák:</h5>
    
    <div class="row">
        <div class="col-12 col-md-6" *ngIf="residentData.cold1">
            <div class="data-box">
                <strong>Hideg-1: </strong>
                <span class="text-end">gy.szám:
                    {{ isSerialNumberEmpty(residentData.serialNumbers.cold1) }}</span>
            </div>
        </div>
        <div class="col-12 col-md-6" *ngIf="residentData.cold2">
            <div class="data-box">
                <strong>Hideg-2: </strong>
                <span class="text-end">gy.szám:
                    {{ isSerialNumberEmpty(residentData.serialNumbers.cold2) }}</span>
            </div>
        </div>

        <div class="col-12 col-md-6" *ngIf="residentData.hot1">
            <div class="data-box">
                <strong>Meleg-1: </strong>
                <span class="text-end">gy.szám:
                    {{ isSerialNumberEmpty(residentData.serialNumbers.hot1) }}</span>
            </div>
        </div>

        <div class="col-12 col-md-6" *ngIf="residentData.hot2">
            <div class="data-box">
                <strong>Meleg-2: </strong>
                <span class="text-end">gy.szám:
                    {{ isSerialNumberEmpty(residentData.serialNumbers.hot2) }}</span>
            </div>
        </div>

        <div class="col-12 col-md-6" *ngIf="residentData.heating">
            <div class="data-box">
                <strong>Hőmennyiségmérő: </strong>
                <span class="text-end">gy.szám:
                    {{ isSerialNumberEmpty(residentData.serialNumbers.heating) }}</span>
            </div>
        </div>
    </div>
<hr>

</div>

<div class="row justify-content-center">
<div class="modify-password col-12 col-md-6 mb-0 pb-0">
    <div class="data-box">
    <!-- Ha nem szerkesztünk, akkor csak a gomb látszik -->
    <button *ngIf="!editingPassword" 
        class="btn btn-sm logout change-password d-block mx-auto" 
        (click)="startEditingPassword()">
    Jelszó módosítás
</button>

<div *ngIf="editingPassword" class="password-input-container">
    <input type="password"
           [(ngModel)]="oldPassword"
           class="form-control edit-input text-center mb-4"
           placeholder="Régi jelszó">

        <input type="password"
               [(ngModel)]="newPassword"
               class="form-control edit-input text-center mb-2"
               (keyup)="validatePassword()"
               [class.is-invalid]="passwordError || twoPasswordError"
               placeholder="Új jelszó">

        <input type="password"
               [(ngModel)]="newPasswordAgain"
               class="form-control edit-input text-center mb-2"
               (keyup)="validatePassword()"
               [class.is-invalid]="passwordError"
               placeholder="Új jelszó mégegyszer">

        <button class="btn btn-sm btn-cancel mt-2" (click)="cancelModifyingPassword()">Mégse</button>
        <button class="btn btn-sm btn-success mt-2 save-btn float-end" (click)="savePassword()">Mentés</button>

        <!-- Hibaüzenet -->
        <div *ngIf="passwordError" class="invalid-feedback">
            A jelszónak legalább 6 karakter hosszúnak kell lennie!
        </div>
        <div *ngIf="twoPasswordError" class="invalid-feedback">
            A két jelszó nem egyezik!
        </div>

    </div>
</div>
</div>
</div>
<hr>
  </div>
  </div>    
  
  



