.container {
    padding: 0;
    color: #2f4156;
}

.content {
    padding: 0 1rem;
}

h2 {
    color: #2f4156;
    margin: 1rem 0;
  }

.btn{
    background-color: #567c8d;
    color: #f5efeb;
    border: 1px solid #567c8d;
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
}

.save-btn {
    background-color: #2f4156;
    color: #f5efeb;
    border: 1px solid #2f4156;
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
}

.data-box {
    display: flex;
    flex-direction: column; /* A tartalmat oszlopba rendezi */
    padding: 6px 10px;
    background: #f5efeb;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(47, 65, 86, 0.2);
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
  }

  /* .data-box:hover {
    transform: scale(1.02);
  } */

  .data-title {
    color: #2f4156;
    font-weight: bold;
  }
  
  .data-value {
    color: #2f4156;
    font-weight: bold;
    text-align: right;
    display: block; 
    margin-top: 5px;
    word-wrap: break-word;
  }

  .phone-input-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Kisebb távolság az inputok között */
    justify-content: flex-end; /* Az egész tartalom jobbra igazítása */
  }
  
  .phone-input-container .phone-area,
  .phone-input-container .phone-num {
    text-align: right; /* Jobbra igazítja a számokat az input mezőben */
  }
  
  .phone-input-container .phone-area {
    width: 10ch;
    min-width: 7ch;
    max-width: 12ch;
  }
  
  .phone-input-container .phone-num {
    flex-grow: 1; /* Maradék hely kitöltése */
    min-width: 15ch;
    max-width: 20ch;
  }
  
  .text-muted {
    font-size: 0.75rem;
  }
  
  .phone-input-container {
    display: flex;
    flex-direction: row; /* Az input mezők egymás mellett legyenek */
    gap: 10px; /* Távolság az input mezők között */
  }
  
  .invalid-feedback {
    display: block; /* A hibaüzenet külön blokkban jelenjen meg */
    color: red;
    margin-top: 5px; /* Kis távolság a hibaüzenet és az input mező között */
  }
  
  .change-password {
    width: 10rem;
    margin-top: 0.125rem;
  }
  