<div class="settings-box p-3 row">
    <p class="title">Válaszd ki a használni kívánt mérőórákat:</p>
    
    <div class="col col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="form-inline mb-2">
            <label class="label-cold-hot" [class.selected-cold]="cold1" for="cold1">Hideg 1</label>
            <input class="visually-hidden" type="checkbox" name="cold1" id="cold1" [(ngModel)]="cold1" (change)="uncheckSeverally()">
            <label class="label-cold-hot" [class.selected-cold]="cold2" for="cold2">Hideg 2</label>
            <input class="visually-hidden" type="checkbox" name="cold2" id="cold2" [(ngModel)]="cold2" (change)="uncheckSeverally()">
        </div>
    </div>

    <div class="col col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="form-inline mb-2">
            <label class="label-cold-hot" [class.selected-hot]="hot1" for="hot1">Meleg 1</label>
            <input class="visually-hidden" type="checkbox" name="hot1" id="hot1" [(ngModel)]="hot1" (change)="uncheckSeverally()">
            <label class="label-cold-hot" [class.selected-hot]="hot2" for="hot2">Meleg 2</label>
            <input class="visually-hidden" type="checkbox" name="hot2" id="hot2" [(ngModel)]="hot2" (change)="uncheckSeverally()">
        </div>
    </div>

    <div class="col col-lg-3 col-md-12 col-sm-12 mb-3">
        <div class="form-inline mb-2">
            <label class="heating" [class.selected-heating]="heating" for="heating">Hőmennyiség</label>
            <input class="visually-hidden" type="checkbox" name="heating" id="heating" [(ngModel)]="heating" (change)="uncheckSeverally()">
        </div>
    </div>
    <hr>
    <div class="col-12 mb-2 ">
        <div class="form-inline mb-2">
            <label class="severally ps-2" [class.selected-severally]="severally" for="severally">Lakásonkénti beállítás</label>
            <input class="visually-hidden" type="checkbox" name="severally" id="severally" [(ngModel)]="severally" (click)="uncheckMeters()">
        </div>
    </div>
    <hr>

    <div class="settings-box p-3 row">

        <p class="title">Add meg a költségeket:</p>

        <div class="col col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="form-inline mb-2">
            <label for="cold-amount" class="label-cost">Hideg víz Ft/m<sup>2</sup>:</label>
            <input class="amount-input text-center" type="number" name="cold-amount" id="cold-amount" [(ngModel)]="coldAmount">
        </div>
        </div>
        <div class="col col-lg-3 col-md-6 col-sm-12 mb-3">
        <div class="form-inline mb-2">
            <label for="hot-amount" class="label-cost">Meleg víz Ft/m<sup>2</sup>:</label>
            <input class="amount-input text-center" type="number" name="hot-amount" id="hot-amount" [(ngModel)]="hotAmount">
        </div>
        </div>

        <div class="col col-lg-3 col-md-12 col-sm-12 mb-3">
        <div class="form-inline mb-2">
            <label for="heating-amount" class="label-cost">Fűtés Ft/egység:</label>
            <input class="amount-input text-center" type="number" name="heating-amount" id="heating-amount" [(ngModel)]="heatingAmount">
        </div>
        </div>
    </div>
   
    <div class="mt-auto">
        <button class="btn btn-primary btn-sm float-end" (click)="saveMeters()">Mentés</button>
    </div>
</div>
