<div class="container">
  <div class="row justify-content-center">
  <div class="col col-lg-4 col-md-6 col-sm-10">
  <h2 class="mt-5 mb-5 text-center">Bejelentkezés</h2>
  <ng-container *ngIf="!errorMessage; else showError"></ng-container>
  <img src="assets/icons/logo.png" alt="logo" class="logo mx-auto d-block w-50 mb-4">

<form (ngSubmit)="login()">
    <div class="mb-3">
      <label for="email" class="form-label fw-bold">Email cím</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label fw-bold">Jelszó</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
    </div>
    <div class="mb-3 mt-2 form-check float-end">
      <input type="checkbox" class="form-check-input" id="stayedLogIn" name="stayedLoggedIn" [(ngModel)]="stayedLoggedIn">
      <label class="form-check-label" for="stayedLoggedIn">Maradjak bejelentkezve.</label>
    </div>
    <button type="submit" class="btn btn-primary">Belépés</button>
  </form>
  <div (click)="forgotPassword()" class="mt-5 cursor-pointer text-center">Elfelejtettem a jelszavam</div>
</div>
</div>

</div>

<ng-template #showError>
  <div class="alert alert-danger text-center" role="alert">
    {{errorMessage}}
  </div>
</ng-template>

<div *ngIf="showCookieBanner" class="cookie-banner">
  <p>Ez a weboldal sütiket használ a jobb felhasználói élmény érdekében.</p>
  <button class="btn btn-success" (click)="acceptCookies()">Elfogadom</button>
</div>
