<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="admin/home">Főoldal</a>
          </li>
          <li class="nav-item">
            <a  [ngClass]="{'disabled': currentUser.adminLevel != 0}" class="nav-link" href="admin/settings" [attr.disabled]="currentUser.adminLevel != 1 ? true : null">Beállítások</a>
          </li>
          
          
          <li class="nav-item">
            <a [ngClass]="{'disabled': currentUser.adminLevel != 0}" class="nav-link" href="admin/residents">Lakók</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/meters">Óraállások</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/bulletinboard">Faliújság</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/files">Fájlok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin/vote">Szavazás</a>
          </li>
 
          
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item ms-auto">
                <div class="nav-link">
                    Felhasználó: <b>{{ currentUser.username }}</b>
                </div>
              </li>
              <li class="nav-item">
                <button class="nav-link link-danger" (click)="logout()">Kijelentkezés</button>
              </li>
        </ul>
        
      </div>
    </div>
  </nav>