<div class="container">
    <div class="row justify-content-center">
    <div class="col col-lg-4 col-md-6 col-sm-10">
    <h2 class="mt-5 mb-5 text-center">Új jelszó megadása</h2>
    <p class="text-center mb-4">A jelszónak legalább 8 karakterből kell állnia!</p>

    <ng-container *ngIf="!errorMessage; else showError"></ng-container>
    <ng-container *ngIf="!message; else showMessage"></ng-container>
    <ng-container *ngIf="!success; else showBackButton"></ng-container>

    <div *ngIf="isValidToken && !success">

        <form (ngSubmit)="resetPassword()">
         <div class="mb-4">
            <label for="newPassword" class="form-label fw-bold">Új jelszó:</label>
            <input minlength="8" class="form-control mb-3" type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
        </div>
        <div class="mb-4">

            <label for="confirmPassword" class="form-label fw-bold">Jelszó megerősítése:</label>
            <input minlength="8" class="form-control" type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
          <button type="submit" class="btn btn-primary">Jelszó mentése</button>
          <a href="/login" class="btn btn-secondary float-end">Mégse</a>

        </form>
      </div>

      <div *ngIf="!isValidToken">
        <div class="alert alert-danger text-center" role="alert">
            Az email érvényessége lejárt!
          </div>
          <a href="/forgot-password" class="btn btn-secondary float-end">Vissza</a>
      </div>
      
    </div>
    </div>
    </div>

    <ng-template #showError>
        <div class="alert alert-danger text-center" role="alert">
          {{errorMessage}}
        </div>

      </ng-template>

    <ng-template #showMessage>
        <div class="alert alert-success text-center" role="alert">
          {{message}}
        </div>

      </ng-template>
    <ng-template #showBackButton>
        <a href="/login" class="btn btn-secondary">Vissza</a>
      </ng-template>


