<app-menu></app-menu>
<div class="container">
    <h2>Főoldal</h2>
    <p class="title">Üdvözöllek a <b>{{ condoName }}</b>társasház admin felületén!</p>
    <p>A menűpontok <span class="info-icon">info</span> feliratára kattintva az aktuális lap kezelésének az összefoglalója jelenik meg.</p>
    <p>Több információért az alábbi linkről letöltheted a felhasználói útmutatót: <a href="{{ downLoadLink }}" target="_blank">letöltés</a></p>
    <br>
    <p>A kezeléssel és üzemeltetéssel kapcsolatos problémák jelzése:</p>
    <a href="mailto:admin@mycondo">admin&#64;mycondo.hu</a>
    <p>+36 30 485 9770</p>
    <img src="assets/icons/logo.png" alt="logo" class="logo mx-auto d-block w-25">
    <div class="footer position-fixed bottom-0 start-0 w-100 bg-secondary text-white text-center py-3">
        <div class="footer-content">
            admin&#64;mycondo.hu
            </div>
    </div>
</div>