

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Megerősítés</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
        </button>
      </div>
      <div class="modal-body" [innerHTML]="confirmMessage">
        
      </div>
      <div class="modal-footer d-inline">
        <button type="button" class="btn back" (click)="dismiss()">Mégse</button>
        <button type="button" class="btn float-end" (click)="confirm()">Jóváhagy</button>
      </div>
    </div>
    
      
    
