.modal-header, .modal-footer {
    background-color: #f5efeb;
    color: #2f4156;
}
.btn {
    background-color: #2f4156;
    color: #f5efeb;
    border: 1px solid #2f4156;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.back {
    background-color: #567c8d;
    border-color: #567c8d;
}