/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fff;
    min-width: 400px;
    font-family: 'Space Mono', monospace;
    color: #444;
}
.cursor-pointer{
    cursor: pointer;
}

.btn {
    /* border-radius: 0; */
}

input, textarea {
    border: 1px solid #444;
}