<div class="settings-box">

    <ng-container *ngIf="!message; else showMessage"></ng-container>
    <ng-container *ngIf="!errorMessage; else showErrorMessage"></ng-container>


    <p>válaszd ki a kezdő dátumot:</p>

    <div *ngFor="let day of days" class="form-check-inline">
      <input class="visually-hidden" type="radio" name="startDay" [id]="'startDay-' + day" [value]="day" [(ngModel)]="startDay" (change)="updateEndDayOptions()">
      <label [ngClass]="{'selected-label': startDay === day}" class="label-day" [for]="'startDay-' + day">{{ day }}</label>
    </div>
    
    <p class="mt-4">Válaszd ki a befejezés dátumát:</p>
    <div *ngFor="let day of days" class="form-check-inline">
      <input class="visually-hidden" type="radio" name="endDay" [id]="'endDay-' + day" [value]="day" [(ngModel)]="endDay" [disabled]="!isEndDaySelectable(day)">
      <label [ngClass]="{'selected-label': endDay === day, 'unselectable': !isEndDaySelectable(day)}" class="label-day" [for]="'endDay-' + day">{{ day }}</label>
    </div>
    
    <button class="btn btn-primary btn-sm float-end mt-4" (click)="saveDates()" [disabled]="!isValid()">Mentés</button>
    


</div>

<ng-template #showMessage>
    <div class="alert alert-success text-center" role="alert">
      {{message}}
    </div>
  </ng-template>

<ng-template #showErrorMessage>
    <div class="alert alert-danger text-center" role="alert">
      {{errorMessage}}
    </div>
  </ng-template>