.settings-box .form-check-inline {
  margin-bottom: 0.5rem;
}

.settings-box .label-day {
  cursor: pointer;
  display: block;
  width: 1rem; /* or set an appropriate width based on your design */
  text-align: right;
}

.settings-box .selected-label {
  font-weight: bold;
  color: #007bff;
}

.settings-box .unselectable {
  color: #ccc;
  cursor: not-allowed;
}
