<div class="p-3 row">

  <div class="col col-lg-6 col-md-6 col-sm-12 settings-box pe-4 mb-2 day-options">
    <p class="title">Válaszd ki a kezdő dátumot:</p>
      <div *ngFor="let day of days" class="form-check form-check-inline day-option">
          <input class="visually-hidden" type="radio" name="startDay" [id]="'startDay-' + day" [value]="day" [(ngModel)]="startDay" (change)="updateEndDayOptions()">
          <label [ngClass]="{'selected-label': startDay === day}" class="label-day text-right" [for]="'startDay-' + day">{{ day }}</label>
      </div>
  </div>

  <div class="col col-lg-6 col-md-6 col-sm-12 settings-box ps-4 mb-2 day-options">
    <p class="title">Válaszd ki a befejezés dátumát:</p>
      <div *ngFor="let day of days" class="form-check form-check-inline day-option">
          <input class="visually-hidden" type="radio" name="endDay" [id]="'endDay-' + day" [value]="day" [(ngModel)]="endDay" [disabled]="!isEndDaySelectable(day)">
          <label [ngClass]="{'selected-label': endDay === day, 'unselectable': !isEndDaySelectable(day)}" class="label-day text-right" [for]="'endDay-' + day">{{ day }}</label>
      </div>
  </div>

  <div class="mt-auto">
      <button class="btn btn-primary btn-sm float-end" (click)="saveDates()" [disabled]="!isValid()">Mentés</button>
  </div>

</div>

