.settings-box {
    padding: 0 0.5rem 2.25rem 0.5rem;
}

.form-check-inline {
    margin: 0 0.1rem 0.1rem 0;
}

.label-day {
    width: 1.5rem;
    text-align: center;
    border: 1px solid #666;
}

.selected-label {
    background-color: #6C757D;
    color:#e2e3e5;
  }
  
.unselectable {
    background-color: #f1aeb5;
    cursor: not-allowed;
  }
  