<div class="container">
    <div class="row justify-content-center">
    <div class="col col-lg-4 col-md-6 col-sm-10">
    <h2 class="mt-5 mb-5">Elfelejtett jelszó</h2>

    <ng-container *ngIf="!errorMessage; else showError"></ng-container>

        <p>A megadott email címre küldünk egy linket a jelszó megváltoztatásához. </p>
    <form>
        <div class="mb-3">
          <label for="email" class="form-label fw-bold">Email cím</label>
          <input type="email" class="form-control" id="userEmail" name="userEmail" [(ngModel)]="userEmail">
        </div>
        
        <button type="submit" class="btn btn-primary me-5" (click)="sendEmail()">Küldés</button>
       
            <a href="/login" class="btn btn-secondary ms-5">Mégse</a>
   
      </form>


</div>
</div>
</div>

<ng-template #showError>
    <div class="alert alert-danger text-center" role="alert">
      {{errorMessage}}
    </div>
  </ng-template>
