<div class="container">
    <div class="row justify-content-center">
    <div class="col col-lg-4 col-md-6 col-sm-10">
    <h2 class="mt-5 mb-5 text-center">Elfelejtett jelszó</h2>

    <ng-container *ngIf="!errorMessage; else showError"></ng-container>
    <ng-container *ngIf="!message; else showMessage"></ng-container>
<div *ngIf="!message">
        <p>Írd be az email címed amivel regisztrálva vagy az oldalon! </p>
    <form>
        <div class="mb-3">
          <label for="email" class="form-label fw-bold">Email cím</label>
          <input type="email" class="form-control" id="user" name="user" [(ngModel)]="user">
        </div>
        
        <button type="submit" class="btn btn-primary me-5" (click)="checkAndSendEmail()">Küldés</button>
       
            <a href="/login" class="btn btn-secondary float-end">Mégse</a>
   
      </form>
    </div>

</div>
</div>
</div>

<ng-template #showError>
    <div class="alert alert-danger text-center" role="alert">
      {{errorMessage}}
    </div>
  </ng-template>

<ng-template #showMessage>
    <div class="alert alert-success text-center" role="alert">
      {{message}}
    </div>
  </ng-template>
