
.radio-label {
    padding: 0 0.5rem;
    text-align: center;
    border: 1px solid #666;
    color: #666;
    font-weight: bold;
    margin: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}

.checked-label {
    background-color: #6C757D;
    color:#e2e3e5;
  }

  .new-data-input {
    width: 4rem;
    padding: 0 0.5rem;
    text-align: center;
  }

  .phone-prefix {
    width: 3.5rem;
  }

  .phone-area-num {
    width: 4.5rem;
  }

  .phone-num {
    width: 7rem;
    margin-left: 1rem;
  }

  .selected-meters {
    cursor: pointer;
  }
  
  .selected-cold1,
  .selected-cold2,
  .selected-hot1,
  .selected-hot2 {
    font-weight: bold;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
  }
  
  
  


  